{% include 'layouts/app.html.twig' %}
<body>
<h1>Currencies</h1>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    {% for currency in currencies %}
        <tr>

            <td><a href="/currencies/{{ currency.symbol }}">{{ currency.name }}</a></td>
            <td><a href="/currencies/{{ currency.symbol }}">{{ currency.symbol }}</a></td>
            <td>{{ currency.price|number_format(2, '.', ' ') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h2>Buy Currency</h2>
{% include 'buy.html.twig' %}

<h2>Search Currency</h2>
<form action="/currency/search" method="POST">
    <div>
        <label for="symbol">Currency symbol: </label>
        <input type="text" id="symbol" name="symbol" required>
    </div>
    <button type="submit">Search</button>
    </td>

</body>
</html>